@model ASP_WEB.Models.FaqSubtheme

@{
    ViewBag.Title = "CreateFaq";
}
<div class="wrapper"></div>
<h2>CreateFaq</h2>
<form enctype="multipart/form-data" method="post" class="form-horizontal createForms">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="Question">Vraag</label>
        <input type="text" name="Question" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="Answer">Antwoord</label>
        <input type="text" name="Answer" class="form-control" />
    </div>

    <div class="form-group">
        <label for="ThemeID">Thema</label>
        <select name="ThemeID" class="form-control">
            @foreach (var item in Model.Theme)
            {
                <option value="@item.ThemeID">@item.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="SubThemeID">Subthema</label>
        <select name="SubThemeID" class="form-control">
            @foreach (var item in Model.Subtheme)
            {
                <option value="@item.SubthemeID">@WebUtility.HtmlDecode(item.Name)</option>
            }
        </select>
    </div>

    <div class="form-group">
        <input type="submit" name="submit" value="Submit" class="btn btn-default"/>
        <a href="/Admin/Faqs">
            <div class="btn btn-default">
                Terug naar de veelgestelde vragen
            </div>
        </a>
    </div>
</form>
