@model ASP_WEB.Models.Subtheme

@{
    ViewBag.Title = "Details van een subthema";
}
<div class="wrapper"></div>
<h2>DetailsSubtheme</h2>

<div>
    <h4>Subtheme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @WebUtility.HtmlDecode(Model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @WebUtility.HtmlDecode(Model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme.Name)
        </dd>
@foreach (var item in Model.Office)
{
    <dt>
        @Html.DisplayNameFor(model => model.Office)
    </dt>
    <dd>
        @Html.DisplayFor(modelItem => item.Name)
    </dd>
}
        <dt>
            Foto
        </dt>

        <dd>
            <img src="https://integratiekortrijk.blob.core.windows.net/images/@Model.FotoURL" alt="@Model.FotoURL Photo" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Bewerk", "EditSubtheme", new { id = Model.SubthemeID }) |
    @Html.ActionLink("Terug naar de subthema's", "Subthemes")
</p>
