@model ASP_WEB.Models.Faq

@{
    ViewBag.Title = "DetailsFaq";
}
<div class="wrapper"></div>
<h2>DetailsFaq</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Thema
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme.Name)
        </dd>

        <dt>
            Subthema
        </dt>

        <dd>
            @WebUtility.HtmlDecode(Model.Subtheme.Name)
        </dd>

        <dt>
            Vraag
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            Antwoord
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Bewerk", "EditFaq", new { id = Model.FaqID }) |
    @Html.ActionLink("Terug naar vragen", "Faqs")
</p>
