@model PagedList.IPagedList<ASP_WEB.Models.Faq>
@using PagedList.Mvc;
@Styles.Render("~/Content/PagedList")
@{
    ViewBag.Title = "Faqs";
}

<h2>Faqs</h2>

<p>
    @Html.ActionLink("Create New", "CreateFaq")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Theme.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subtheme.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Answer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Theme.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtheme.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditFaq", new { id = item.FaqID }) |
                @Html.ActionLink("Details", "DetailsFaq", new { id = item.FaqID }) |
                @Html.ActionLink("Delete", "DeleteFaq", new { id = item.FaqID })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Faqs", new { page }))