@model PagedList.IPagedList<ASP_WEB.Models.Office>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Diensten";
}
<div class="wrapper"></div>
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Maak dienst aan", "CreateOffice")
</p>
<table class="table">
    <tr>
        <th>
            Naam
        </th>
        <th>
            Telefoonnummer
        </th>
        <th>
            Emailadres
        </th>
        <th>
            Maandag
        </th>
        <th>
            Dinsdag
        </th>
        <th>
            Woensdag
        </th>
        <th>
            Donderdag
        </th>
        <th>
            Vrijdag
        </th>
        <th>
            Zaterdag
        </th>
        <th>
            Zondag
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tuesday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wednesday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thursday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Friday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saturday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sunday)
        </td>
        <td>
            @Html.ActionLink("Bewerk", "EditOffice", new { id=item.OfficeID })
            @Html.ActionLink("Details", "DetailsOffice", new { id=item.OfficeID })
            @Html.ActionLink("Verwijder", "DeleteOffice", new { id=item.OfficeID })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Offices", new { page }))