@model PagedList.IPagedList<ASP_WEB.Models.Theme>
@using PagedList.Mvc;

@Styles.Render("~/Content/PagedList")

@{
    ViewBag.Title = "Themes";
}

<h2>Themes</h2>

<p>
    @Html.ActionLink("Create New", "CreateTheme")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="https://integratiekortrijk.blob.core.windows.net/images/@item.FotoURL" alt="@item.FotoURL Photo"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTheme", new { id=item.ThemeID }) |
            @Html.ActionLink("Details", "DetailsTheme", new { id=item.ThemeID }) |
            @Html.ActionLink("Delete", "DeleteTheme", new { id=item.ThemeID })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Themes", new { page}))