@model PagedList.IPagedList<ASP_WEB.Models.Theme>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Thema's";
}
<div class="wrapper"></div>
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Maak thema", "CreateTheme")
</p>
<table class="table">
    <tr>
        <th>
            Naam
        </th>
        <th>
            Foto
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="https://integratiekortrijk.blob.core.windows.net/images/@item.FotoURL" alt="@item.FotoURL Photo"/>
        </td>
        <td>
            @Html.ActionLink("Bewerk", "EditTheme", new { id=item.ThemeID }) |
            @Html.ActionLink("Details", "DetailsTheme", new { id=item.ThemeID }) |
            @Html.ActionLink("Verwijder", "DeleteTheme", new { id=item.ThemeID })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Themes", new { page}))