@model IEnumerable<ASP_WEB.Models.User>

@{
    ViewBag.Title = "Gebruikersbeheer";
}

<h2>@ViewBag.Title  </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @if (item.IsAdmin != true)
                {
                    @Html.ActionLink("Maak Admin", "ToAdmin", new { id = item.ID })
                }
                else if (item.IsAdmin == true)
                {
                    @Html.ActionLink("Maak Gebruiker", "ToUser", new { id = item.ID })
                }
                @Html.ActionLink("Delete", "DeleteUser", new { id= item.ID })
            </td>
        </tr>
    }

</table>
