@model ASP_WEB.Models.Theme

@{
    ViewBag.Title = "CreateTheme";
}
<div class="wrapper"></div>
<h2>CreateTheme</h2>
@*
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Theme</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FotoURL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FotoURL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FotoURL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
*@
<form action="CreateTheme" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <label for="Name">Naam</label>
    <input type="text" name="Name" id="Name"/>

    <label for="file">Foto kiezen</label>
    <input type="file" name="file" />

    <input type="submit" value="Create" class="btn btn-default" />
</form>
<div>
    @Html.ActionLink("Back to List", "Themes")
</div>
