@model ASP_WEB.Models.Theme

@{
    ViewBag.Title = "DetailsTheme";
}

<h2>DetailsTheme</h2>

<div>
    <h4>Theme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FotoURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FotoURL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditTheme", new { id = Model.ThemeID }) |
    @Html.ActionLink("Back to List", "Themes")
</p>
