@model IEnumerable<ASP_WEB.Models.Theme>

@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Content/css")
@Scripts.Render("~/bundles/scripts")
<div class="wrapper content"></div>
    <div id="containerIcons">
        <div class="rijIcons row">
            @foreach (var item in Model)
            {
                <a href="~/Subtheme/Index/@item.ThemeID">
                    <div class="themaIcons col-md-3 col-sm-3 col-xs-6">
                        <img class="thumbnail img-responsive image_on" src="https://integratiekortrijk.blob.core.windows.net/images/@item.FotoURL" alt="@item.Name Foto">
                        <div class="caption">
                            <p>@item.Name</p>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
