@model ASP_WEB.Models.FaqSubtheme
@{
    ViewBag.Title = "FAQ";

<script src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>
<div class="wrapper">
</div>

<div id="containerIcons" class="themasFAQ">
    <h2 id="titelfaq">Kies een thema</h2>
    <div class="rijIcons row">
        @foreach (var item in Model.Theme)
            {
            <div class="themaIcons faqIcons col-md-1 col-xs-3 col-sm-2">
                <img id="@item.ThemeID" class="linkFaq thumbnail img-responsive image_on themasFAQs" src="https://integratiekortrijk.blob.core.windows.net/images/@item.FotoURL" alt="@item.Name Foto" data-toggle="tooltip" data-placement="bottom" title="@item.Name">
            </div>
        }
    </div>
</div>
    <div data-role="fieldcontain" class="dropdown hidden-lg hidden-md hidden-sm">
        <select name="select-choice-1" id="select-choice-1">
            <option>---- Kies een thema ----</option>
            @foreach(var item in Model.Theme) { 
            <option value="@item.ThemeID" id="@item.ThemeID">@item.Name</option>
            }
        </select>
    </div>
<script>

</script>
<div class="FAQVragen">
    <ul id="nav">
        @foreach (var item in Model.Faq)
        {
                <li class="@item.ThemeID hidden">
                    <a href="#">
                        @WebUtility.HtmlDecode(item.Subtheme.Name) <svg height="15" width="15">
                            <polyline points="0,0 7.5,7.5 15,0" style="fill:white;stroke:#c4c4c4;stroke-width:2;float:right;" />
                        </svg>
                    </a>
                    <ul>
                        <li>
                            <a href="#">@WebUtility.HtmlDecode(item.Subtheme.Description)</a>
                        </li>
                    </ul>
                </li>
        }
    </ul>
</div>
<script>
    $('#nav > li > a').click(function (e) {
        if ($(this).attr('class') != 'active') {
            $('#nav li ul').slideUp();
            $(this).next().slideToggle();
            $('#nav li a').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        }
        else {
            $('#nav li a').removeClass('active');
            $('#nav li ul').slideUp();
            e.preventDefault();
        }
    });
</script>
}
