@model ASP_WEB.Models.FaqSubtheme
@{
    ViewBag.Title = "FAQ";
}
<div class="wrapper">
</div>
<div id="containerIcons" class="themasFAQ">
    <div class="rijIcons row">
        @foreach (var item in Model.Theme)
            {
            <div class="themaIcons col-md-1 col-xs-3 col-sm-2">
                <img id="@item.ThemeID" class="link thumbnail img-responsive image_on themasFAQs" src="https://integratiekortrijk.blob.core.windows.net/images/@item.FotoURL" alt="@item.Name Foto" data-toggle="tooltip" data-placement="bottom" title="@item.Name">
            </div>
        }
    </div>
</div>

<div class="container containerDropdown">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
            Kies een thema
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @foreach (var item in Model.Theme)
            {
                <li><a href="#" id="@item.ThemeID">@item.Name</a></li>
            }
        </ul>
    </div>
</div>
<script>
    $(".dropdown-menu li a").click(function (e) {
        var selText = $(this).text();
        $(this).parents('.dropdown').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
        $(".active").hide();
        $(".active").removeClass("active");
        $("." + e.currentTarget.id).addClass("active");
        $("." + e.currentTarget.id).show();
    });
</script>
<div class="FAQVragen">
    <ul id="nav">
        @foreach (var item in Model.Faq)
        {
                <li class="@item.ThemeID active">
                    <a href="#">
                        @WebUtility.HtmlDecode(item.Subtheme.Name) <svg height="30" width="30">
                            <polyline points="0,0 15,15 30,0" style="fill:white;stroke:#c4c4c4;stroke-width:2;float:right;" />
                        </svg>
                    </a>
                    <ul>
                        <li>
                            <a href="#">@WebUtility.HtmlDecode(item.Subtheme.Description)</a>
                        </li>
                    </ul>
                </li>
        }
    </ul>
</div>
<script>
    $('#nav > li > a').click(function () {
        if ($(this).attr('class') != 'active') {
            $('#nav li ul').slideUp();
            $(this).next().slideToggle();
            $('#nav li a').removeClass('active');
            $(this).addClass('active');
        }
        else {
            $('#nav li a').removeClass('active');
            $('#nav li ul').slideUp();
        }
    });

</script>
