@model IEnumerable<ASP_WEB.Models.Theme>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FotoURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FotoURL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ThemeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ThemeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ThemeID })
        </td>
    </tr>
}

</table>
