@model IEnumerable<ASP_WEB.Models.Subtheme>

@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Content/css")
@Scripts.Render("~/bundles/scripts")
<div class="wrapper"></div>
    <div id="homepageP1">
    </div>
    <div class="container">
        <div class="rijIcons row">
            @foreach (var item in Model)
            {
                <a href="~/Subtheme/Details/@item.SubthemeID">
                    <div class="themaIcons col-md-3 col-sm-3 col-xs-6">
                        <img class="thumbnail img-responsive image_on" src="https://integratiekortrijk.blob.core.windows.net/images/@item.FotoURL" alt="@item.Name Foto">
                        <div class="caption">
                            <p>@WebUtility.HtmlDecode(item.Name)</p>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>

<!--
@*
<h2>FAQ</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Theme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtheme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Theme.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subtheme.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FaqID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FaqID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FaqID })
        </td>
    </tr>
}

</table>
*@    
-->
