<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapperAll">
        <div class="navbar navbar-inverse navbar-fixed-top" id="navigatieBalk">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logoBanner">
                        <img src="~/Content/Kortrijk_logo_rgb_klein.png" alt="">
                    </div>
                    <!--             @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
                </div>
               
                <div class="navbar-collapse collapse navText">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Thema's", "Index", "Home")</li>
                        <li>@Html.ActionLink("Stadsplan", "Map", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Veelgestelde vragen", "FAQ", "Home")</li>
                    </ul>
                    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({ pageLanguage: 'nl', layout: google.translate.TranslateElement.InlineLayout.VERTICAL }, 'google_translate_element');
                        }
                    </script>

                    @*html.Partial("_LoginPartial")*@
                </div>
                <div class="vertalenBig">
                    <div id="google_translate_element"></div>
                    <div class="col-md-4 mediaSocial">
                        <div class="row">
                            <img class="mediaImages" src="https://integratiekortrijk.blob.core.windows.net/images/twitterCircle.png" alt="Twitter">
                            <img class="mediaImages" src="https://integratiekortrijk.blob.core.windows.net/images/facebookCircle.png" alt="Facebook">
                            <img class="mediaImages" src="https://integratiekortrijk.blob.core.windows.net/images/mapMarkerCircle.png" alt="Search">
                            <form class="txtSearch" action="/Search" method="get">
                                <input type="search" placeholder="Zoeken..." class="form-control" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
        <footer class="navbar-bottom">
            <div class="container">
                <div>
                    <p>Stad Kortrijk - Grote Markt 54 - 8500 Kortrijk</p>
                </div>
                <div class="container">
                    <div class="row"></div>
                    <div class="footerContact">
                        <img src="https://integratiekortrijk.blob.core.windows.net/images/emailCircle.png" alt="Alternate Text" class="footerImages" />
                        <a href="mailto:1777@kortrijk.be"><p>1777@kortrijk.be</p></a>
                        <img src="https://integratiekortrijk.blob.core.windows.net/images/phoneCircle.png" alt="Alternate Text" class="footerImages" />
                        <a href="tel:1777"><p>1777 (gratis)</p></a>
                    </div>
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
