@model ASP_WEB.Models.Subtheme
@{
    ViewBag.Title = "Details";
}
<div class="wrapper content"></div>
<div class="onderwerpImageSM hidden-md hidden-lg">
    <h2>@WebUtility.HtmlDecode(Model.Name)</h2>
    <img class="img-rounded" src="https://integratiekortrijk.blob.core.windows.net/images/@Model.FotoURL" />
</div>
<div class="onderwerpLeft">
    <div class="onderwerpImage hidden-xs hidden-sm">
        <h2>@WebUtility.HtmlDecode(Model.Name)</h2>
        <img class="img-rounded" src="https://integratiekortrijk.blob.core.windows.net/images/@Model.FotoURL" />
    </div>
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div>
            <p class="subThemaID" data-themeID="@Model.SubthemeID"></p>
            <p class="hidden-md hidden-lg onderwerpInfoSMP more">@WebUtility.HtmlDecode(Model.Description)</p>
            @{int i = 0; }
            @foreach (var item in Model.Office)
            {
                i++;
                string iStr = i.ToString() + ".png";
                <div role="tab" id="@item.Name" class="dienstDiv">
                    <div class="onderwerpInfoLine"></div>
                    <a class="onderwerpInfo" data-toggle="collapse" data-parent="#accordion" href="#@item.OfficeID">
                        <div class="panel-title panelTitle">
                            <img src="https://integratiekortrijk.blob.core.windows.net/images/@iStr" />
                            @item.Name
                            <svg height="15" width="15" class="svgDetails">
                                <polyline points="0,0 7.5,7.5 15,0" style="fill:transparent;stroke:#c4c4c4;stroke-width:2;" />
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="collapse panel-collapse" role="tabpanel" aria-labelledby="@item.Name" id="@item.OfficeID">
                    <div>
                        <div class="dienstInfo">
                            <div class="dienstInfoContact">
                                @if (!item.HouseNumber.IsEmpty() || !item.Street.IsEmpty() || !item.City.IsEmpty())
                                {
                                    <div>
                                        <img src="https://integratiekortrijk.blob.core.windows.net/images/mapMarkerCircle.png" />
                                        <a href="http://maps.apple.com/?q=@item.Street @item.HouseNumber @item.ZipCode @item.City" target="_blank"><h4>@item.Street @item.HouseNumber, @item.ZipCode @item.City</h4></a>
                                    </div>
                                }
                                @if (!item.PhoneNumber.IsEmpty())
                                {
                                    <div>
                                        <img src="https://integratiekortrijk.blob.core.windows.net/images/phoneCircle.png" />
                                        <a href="tel:@item.PhoneNumber" target="_blank"><h4>@item.PhoneNumber</h4></a>
                                    </div>
                                }
                                @if (!item.EmailAddress.IsEmpty())
                                {
                                    <div>
                                        <img src="https://integratiekortrijk.blob.core.windows.net/images/emailCircle.png" />
                                        <a href="mailto:@item.EmailAddress" target="_blank"><h4>@item.EmailAddress</h4></a>
                                    </div>
                                }
                            </div>
                            <div id="openingsuren">
                                @if (!item.Monday.IsEmpty() || !item.Tuesday.IsEmpty() || !item.Wednesday.IsEmpty() || !item.Thursday.IsEmpty()
                                    || !item.Friday.IsEmpty() || !item.Saturday.IsEmpty() || !item.Sunday.IsEmpty())
                                {
                                    <div>
                                        <img src="https://integratiekortrijk.blob.core.windows.net/images/calendarCircle.png" />
                                        <h2 id="openingsurenDiff1">Openingsuren:</h2>
                                    </div>

                                    <ul>
                                        <li><span>Maandag:  </span> @item.Monday</li>
                                        <li><span>Dinsdag:  </span> @item.Tuesday</li>
                                        <li><span>Woensdag: </span> @item.Wednesday</li>
                                        <li><span>Donerdag: </span> @item.Thursday</li>
                                        <li><span>Vrijdag:  </span> @item.Friday</li>
                                        <li><span>Zaterdag: </span> @item.Saturday</li>
                                        <li><span>Zondag:   </span> @item.Sunday</li>
                                    </ul>
                                }
                                else
                                {
                                    <div>
                                        <img src="https://integratiekortrijk.blob.core.windows.net/images/calendarCircle.png" />
                                        <h2>Openingsuren niet beschikbaar</h2>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="onderwerpRight">
    <p class="hidden-xs hidden-sm more">@WebUtility.HtmlDecode(Model.Description)</p>
    <div id="mapContainer" class="col-md-12 hidden-xs hidden-sm">
        <div id="mapDummy"></div>
        <div id="mapElement">
            <script type="text/javascript">
                var SubthemaID = $('.subThemaID').attr("data-themeID");
                var uri = '/api/Offices/get?id=' + SubthemaID;
                var address;
                var dataOffices;
                var i = 0;
                function initMap() {
                    $.getJSON(uri)
.done(function (data) {
    dataOffices = data;
    console.log(dataOffices);

    var map = new google.maps.Map(document.getElementById('mapElement'), {
        zoom: 13,
        center: { lat: 50.829485, lng: 3.264681 }
    });
    var geocoder = new google.maps.Geocoder();
    geocodeAddress(geocoder, map);
});
                }
                function geocodeAddress(geocoder, resultsMap) {
                    $.each(dataOffices, function (key, value) {
                        i++;
                        var image = {
                            url: "https://integratiekortrijk.blob.core.windows.net/images/" + i + ".png",
                            scaledSize: new google.maps.Size(25, 25)
                        }
                        address = value.Street + '%20' + value.HouseNumber + ',%20' + value.City + '%20' + value.ZipCode;
                        console.log(address);
                        geocoder.geocode({ 'address': address }, function (results, status) {
                            if (status === google.maps.GeocoderStatus.OK) {
                                var marker = new google.maps.Marker({
                                    map: resultsMap,
                                    icon: image,
                                    position: results[0].geometry.location,
                                    title: value.Name
                                });
                            } else {
                                //alert('Geocode was unsuccesful for this reason: ' + status);
                            }
                        });
                    });
                }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJiRLwhM5BeM9PkkxvzZLOh4eR5WeaJcg&callback=initMap">
            </script>
            <script>
                $(document).ready(function () {
                    // Configure/customize these variables.
                    var showChar = 350;  // How many characters are shown by default
                    var ellipsestext = "...";
                    var moretext = "Lees meer";
                    var lesstext = "Lees minder";


                    $('.more').each(function () {
                        var content = $(this).html();

                        if (content.length > showChar) {

                            var c = content.substr(0, showChar);
                            var h = content.substr(showChar, content.length - showChar);

                            var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink" style="text-decoration: none">' + moretext + '</a><img class="img-circle" src="https://integratiekortrijk.blob.core.windows.net/images/arrowRightCircle.png" alt="Locatie" /></span>';

                            $(this).html(html);
                        }

                    });
                    $(".morelink").click(function () {
                        if ($(this).hasClass("less")) {
                            $(this).removeClass("less");
                            $(this).html(moretext);
                        } else {
                            $(this).addClass("less");
                            $(this).html(lesstext);
                        }
                        $(this).parent().prev().toggle();
                        $(this).prev().toggle();
                        return false;
                    });
                });
            </script>
        </div>
    </div>
</div>
